# Preprocessing

## Imports

In [1]:
import numpy as np
import pandas as pd
import posixpath as px
from info_vis import preprocessing, PROJECT_PATH, DATA_PATH, OUTPUT_DATA_PATH

## Load Data

In [2]:
filename = "GDP.csv"
gdp_df = pd.read_csv(px.join(DATA_PATH, filename))
gdp_df

      Country/Area  Year  GDP, Per Capita GDP - US Dollars
0      Switzerland  2015                      83790.888047
1           Norway  2015                      74793.186876
2          Ireland  2015                      64304.575120
3    United States  2015                      56097.922641
4        Singapore  2015                      55742.912702
..             ...   ...                               ...
219   South Africa  2021                       6830.894725
220       Colombia  2021                       6222.621645
221      Indonesia  2021                       4287.173140
222    Philippines  2021                       3484.385958
223          India  2021                       2257.365145

[224 rows x 3 columns]

In [3]:
filename = "World_Wide_Unicorn_Startups.csv"
unicorn_startups_df = pd.read_csv(px.join(DATA_PATH, filename))
unicorn_startups_df

,Company,Valuation,Date,Country,City,Industry
0,Red Ventures,1.00,2015-01-07,United States,Fort Mill,Other
1,Tanium,9.00,2015-03-31,United States,Kirkland,Cybersecurity
2,Planet Labs,2.20,2015-04-13,United States,San Francisco,Other
3,Illumio,2.75,2015-04-14,United States,Sunnyvale,Cybersecurity
4,Infinidat,1.60,2015-04-29,United States,Waltham,Hardware
...,...,...,...,...,...,...
676,Pet Circle,1.00,2021-12-07,Australia,Alexandria,E-commerce & direct-to-consumer
677,Pristyn Care,1.20,2021-12-07,India,Gurugram,Health
678,Incode Technologies,1.25,2021-12-07,United States,San Francisco,Cybersecurity
679,AgentSync,1.20,2021-12-07,United States,Denver,Fintech
680,Anyscale,1.00,2021-12-07,United States,Berkeley,Artificial Intelligence

In [5]:
filename = "QOL.csv"
quality_life_df = pd.read_csv(px.join(DATA_PATH, filename)).drop(columns=["Safety Index", "Health Care Index", "Traffic Commute Time Index", "Pollution Index", "Climate Index"])
quality_life_df

,Country,Quality of Life Index,Purchasing Power Index,Cost of Living Index,Property Price to Income Ratio,Year
0,Switzerland,222.9,146.5,126.0,7.3,2015
1,Germany,195.9,111.8,76.3,6.6,2015
2,Sweden,193.9,110.9,82.9,9.2,2015
3,United States,192.5,126.1,76.5,2.6,2015
4,Finland,190.2,101.2,89.7,7.0,2015
...,...,...,...,...,...,...
219,Colombia,101.3,26.1,31.0,18.7,2021
220,Thailand,100.3,31.4,49.3,22.2,2021
221,Chile,99.9,33.3,49.3,17.6,2021
222,Indonesia,90.1,20.9,37.4,22.0,2021
223,Philippines,78.4,19.7,40.7,30.1,2021

In [ ]:
filename = "preprocessed_data.csv"
preprocessed_data.to_csv(px.join(OUTPUT_DATA_PATH, filename), index=False)

## Preprocess Data

In [133]:
# TODO:

## Merge data

In [29]:
# TODO:

In [ ]:
filename = "preprocessed_data.csv"
preprocessed_data.to_csv(px.join(OUTPUT_DATA_PATH, filename), index=False)

In [ ]:
test_df = pd.read_csv(px.join(OUTPUT_DATA_PATH, filename))
test_df