# Preprocessing

## Imports

In [2]:
import numpy as np
import pandas as pd
import posixpath as px
from info_vis import preprocessing, PROJECT_PATH, DATA_PATH, OUTPUT_DATA_PATH

## Load Data

In [28]:
filename = "GDP.csv"
gdp_df = pd.read_csv(px.join(DATA_PATH, filename))
gdp_df

      Country/Area  Year Unit GDP, at current prices - US Dollars
0      Afghanistan  1970  US$                   1748886596.862996
1      Afghanistan  1971  US$                   1831108981.957219
2      Afghanistan  1972  US$                  1595555481.8054674
3      Afghanistan  1973  US$                  1733333275.4378521
4      Afghanistan  1974  US$                  2155555500.3670335
...            ...   ...  ...                                 ...
13495     Zimbabwe  2019  US$                         22594520375
13496     Zimbabwe  2020  US$                         21664745864
13497     Zimbabwe  2021  US$                         24118150864
13498     Zimbabwe  2022  US$                         26418592961
13499     Zimbabwe  2023  US$                         30368203559

[13500 rows x 4 columns]

In [18]:
filename = "World_Wide_Unicorn_Startups.csv"
unicorn_startups_df = pd.read_csv(px.join(DATA_PATH, filename))
unicorn_startups_df

,Company,Valuation,Date,Country,City,Industry,Investors,year,month,day
0,Bytedance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"0 Sequoia Capital China, SIG Asia Investm...",2017,7,4
1,SpaceX,100.3,12/1/2012,United States,Hawthorne,Other,"0 Sequoia Capital China, SIG Asia Investm...",2012,1,12
2,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"0 Sequoia Capital China, SIG Asia Investm...",2014,23,1
3,Klarna,45.6,12/12/2011,Sweden,Stockholm,Fintech,"0 Sequoia Capital China, SIG Asia Investm...",2011,12,12
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"0 Sequoia Capital China, SIG Asia Investm...",2018,8,1
...,...,...,...,...,...,...,...,...,...,...
931,YipitData,1.0,12/6/2021,United States,New York,Internet software & services,"0 Sequoia Capital China, SIG Asia Investm...",2021,6,12
932,Anyscale,1.0,12/7/2021,United States,Berkeley,Artificial Intelligence,"0 Sequoia Capital China, SIG Asia Investm...",2021,7,12
933,Iodine Software,1.0,12/1/2021,United States,Austin,Data management & analytics,"0 Sequoia Capital China, SIG Asia Investm...",2021,1,12
934,ReliaQuest,1.0,12/1/2021,United States,Tampa,Cybersecurity,"0 Sequoia Capital China, SIG Asia Investm...",2021,1,12
935,Pet Circle,1.0,12/7/2021,Australia,Alexandria,E-commerce & direct-to-consumer,"0 Sequoia Capital China, SIG Asia Investm...",2021,7,12

In [15]:
filename = "Quality_of_Life.csv"
quality_life_df = pd.read_csv(px.join(DATA_PATH, filename))
quality_life_df

,country,Purchasing Power Value,Purchasing Power Category,Safety Value,Safety Category,Health Care Value,Health Care Category,Climate Value,Climate Category,Cost of Living Value,Cost of Living Category,Property Price to Income Value,Property Price to Income Category,Traffic Commute Time Value,Traffic Commute Time Category,Pollution Value,Pollution Category,Quality of Life Value,Quality of Life Category
0,Afghanistan,32.15,'Very Low',25.33,'Low',24.24,'Low',0.00,NaN,21.08,'Very Low',7.8,'Low',56.17,'Very High',84.44,'Very High',0.0,NaN
1,Aland Islands,125.01,'Very High',71.81,'High',79.72,'High',0.00,NaN,53.44,'Low',5.33,'Low',19.05,'Very Low',18.05,'Very Low',0.0,NaN
2,Albania,42.82,'Low',55.52,'Moderate',48.21,'Moderate',86.43,'Very High',40.85,'Low',14.88,'High',36.74,'Moderate',77.25,'High',': 104.16','Low'
3,Alderney,0.00,NaN,83.79,'Very High',100.00,'Very High',0.00,NaN,0.00,NaN,0.0,NaN,5.00,'Very Low',1.72,'Very Low',0.0,NaN
4,Algeria,27.60,'Very Low',47.54,'Moderate',54.43,'Moderate',94.82,'Very High',25.31,'Very Low',21.7,'Very High',45.09,'High',63.87,'High',': 98.83','Very Low'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Wallis And Futuna,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,0.00,NaN,0.00,NaN,0.0,NaN
232,Western Sahara,0.00,NaN,62.87,'High',0.00,NaN,0.00,NaN,0.00,NaN,12.75,'High',0.00,NaN,0.00,NaN,0.0,NaN
233,Yemen,20.74,'Very Low',34.07,'Low',25.31,'Low',0.00,NaN,48.66,'Low',15.98,'High',15.00,'Very Low',83.17,'Very High',0.0,NaN
234,Zambia,22.32,'Very Low',54.39,'Moderate',54.44,'Moderate',0.00,NaN,36.74,'Very Low',72.42,'Very High',38.86,'Moderate',80.90,'Very High',0.0,NaN
235,Zimbabwe,28.76,'Very Low',39.31,'Low',44.80,'Moderate',96.76,'Very High',35.36,'Very Low',17.35,'Very High',27.79,'Low',78.53,'High',': 94.20','Very Low'

## Preprocess Data

In [ ]:
# TODO:

## Merge data

In [29]:
# TODO:

In [ ]:
filename = "preprocessed_data.csv"
preprocessed_data.to_csv(px.join(OUTPUT_DATA_PATH, filename), index=False)

In [ ]:
test_df = pd.read_csv(px.join(OUTPUT_DATA_PATH, filename))
test_df