# Preprocessing

## Imports

In [1]:
import numpy as np
import pandas as pd
import posixpath as px
from info_vis import preprocessing, PROJECT_PATH, DATA_PATH, OUTPUT_DATA_PATH

## Load Data

In [2]:
filename = "World_Wide_Unicorn_Startups.csv"
unicorn_startups_df = pd.read_csv(px.join(DATA_PATH, filename))
unicorn_startups_df

,Company,Valuation,Date,Country,City,Industry
0,Red Ventures,1.00,2015-01-07,United States,Fort Mill,Other
1,Tanium,9.00,2015-03-31,United States,Kirkland,Cybersecurity
2,Planet Labs,2.20,2015-04-13,United States,San Francisco,Other
3,Illumio,2.75,2015-04-14,United States,Sunnyvale,Cybersecurity
4,Infinidat,1.60,2015-04-29,United States,Waltham,Hardware
...,...,...,...,...,...,...
676,Pet Circle,1.00,2021-12-07,Australia,Alexandria,E-commerce & direct-to-consumer
677,Pristyn Care,1.20,2021-12-07,India,Gurugram,Health
678,Incode Technologies,1.25,2021-12-07,United States,San Francisco,Cybersecurity
679,AgentSync,1.20,2021-12-07,United States,Denver,Fintech
680,Anyscale,1.00,2021-12-07,United States,Berkeley,Artificial Intelligence

In [3]:
filename = "QOL.csv"
quality_life_df = pd.read_csv(px.join(DATA_PATH, filename))
quality_life_df

,Country,Quality of Life Index,Purchasing Power Index,Cost of Living Index,Property Price to Income Ratio,Year,GDP per Capita
0,Argentina,77.0,59.4,67.1,11.6,2015,14833.199680
1,Australia,180.8,110.4,99.3,7.1,2015,52009.802759
2,Austria,182.6,104.6,76.9,9.6,2015,43908.420277
3,Belgium,136.0,86.2,87.2,6.5,2015,40889.673570
4,Brazil,29.8,41.2,55.3,16.7,2015,8936.195589
...,...,...,...,...,...,...,...
219,Sweden,171.4,90.6,79.2,8.6,2021,61173.088630
220,Switzerland,190.8,111.0,131.7,8.4,2021,93638.127634
221,Thailand,100.3,31.4,49.3,22.2,2021,7058.069402
222,United Arab Emirates,156.0,85.7,61.7,4.9,2021,42412.581159
223,United States,167.0,102.6,71.9,4.0,2021,69617.531988

In [12]:
dates = unicorn_startups_df["Date"]
new_dates = []
for date in dates:
    new_dates.append(int(date[0:4]))
unicorn_startups_df["Year"] = new_dates   
unicorn_startups_df = unicorn_startups_df.drop(columns=["Date"])

In [13]:
unicorn_startups_df.to_csv(posix.joint(DATA_PATH, ""))

,Company,Valuation,Country,City,Industry,Year
0,Red Ventures,1.00,United States,Fort Mill,Other,2015
1,Tanium,9.00,United States,Kirkland,Cybersecurity,2015
2,Planet Labs,2.20,United States,San Francisco,Other,2015
3,Illumio,2.75,United States,Sunnyvale,Cybersecurity,2015
4,Infinidat,1.60,United States,Waltham,Hardware,2015
...,...,...,...,...,...,...
676,Pet Circle,1.00,Australia,Alexandria,E-commerce & direct-to-consumer,2021
677,Pristyn Care,1.20,India,Gurugram,Health,2021
678,Incode Technologies,1.25,United States,San Francisco,Cybersecurity,2021
679,AgentSync,1.20,United States,Denver,Fintech,2021
680,Anyscale,1.00,United States,Berkeley,Artificial Intelligence,2021